<!DOCTYPE html>
<title>Auto Gangsta</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="static/main.css" />

<main>
  <a class="title" href="/">
    <h1>Auto Gangsta</h1>
  </a>
  <span>Upload an image, we'll make it <i>cooler</i> 😎</span>

  {% if img_url %}
  <img id="result" src="{{ img_url }}" width="500" />
  {% else %}
  <img id="rock" src="/static/rock.jpg" width="500" />
  {% endif %} {% if msg %}
  <span>{{ msg }}</span>
  <br />
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    <div class="upload-wrap">
      <label class="upload-button" for="upload">Upload image</label>
      <input
        type="file"
        name="file"
        id="upload"
        onchange="form.submit()"
        hidden
      />
    </div>
  </form>
</main>

<footer>
  <span><a href="https://github.com/kwsp/AutoGangsta">Github</a></span>
</footer>
